<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        .div-inline{display:inline-block}
        .div-width{width:1000px}
        .input-width{width:50px}
    </style>
    <script src="webjars/jquery/2.1.4/jquery.js"></script>
</head>
<body>
<p>Welcome <td th:text="${user.name}"/></p>
<div>
    <form name="order" th:action="@{/order}" method="post" >
        <input th:value="${user.name}" name="username" readonly="readonly"/>
        <br/>
        <div th:each="book:${books}" class="div-width">
            <div class="div-inline" >
                <div>
                    <span>id</span>
                </div>
                <div>
                    <input th:value="${book.id}" readonly="readonly" class="input-width"/>
                </div>
            </div>
            <div class="div-inline" >
                <div>
                    <span>name</span>
                </div>
                <div>
                    <input name="bookname" th:value="${book.name}" readonly="readonly" class="input-width"/>
                </div>
            </div>
            <div class="div-inline" >
                <div>
                    <span>remaining</span>
                </div>
                <div>
                    <input th:value="${book.num}" readonly="readonly" class="input-width"/>
                </div>
            </div>
            <div class="div-inline">
                <div>
                    <span>price</span>
                </div>
                <div>
                    <input name="price" th:value="${book.price}" readonly="readonly" class="input-width"/>
                </div>
            </div>
            <div class="div-inline" >
                <div>
                    <span>classify</span>
                </div>
                <div>
                    <input th:value="${book.classify}" readonly="readonly" class="input-width"/>
                </div>
            </div>
            <div class="div-inline" >
                <div>
                    <span>info</span>
                </div>
                <div>
                    <input th:value="${book.info}" readonly="readonly" class="input-width"/>
                </div>
            </div>
            <div class="div-inline">
                <div>
                    <span>count</span>
                </div>
                <div>
                    <input name="count" type="number" min="0" th:max="${book.num}" th:value="0"/>
                </div>
            </div>
        </div>
        <div>
            <input type="button" value="order" onclick="checkValue()" />
        </div>
    </form>
</div>
<div>
    <p>all orders</p>
    <div th:each="systemOrder:${systemOrderList}" class="div-width">
        <form th:action="@{/existorder}">
            <div class="div-inline"> <input th:value="${systemOrder.id}" readonly="readonly" class="input-width"/></div>
            <div class="div-inline"> <input th:value="${systemOrder.courier}" readonly="readonly" class="input-width"/></div>
            <div class="div-inline"> <input th:value="${systemOrder.totalPrice}" readonly="readonly" class="input-width"/></div>
            <div class="div-inline"> <input th:value="${systemOrder.state}" readonly="readonly" class="input-width"/></div>
            <div class="div-inline"> <input th:value="${systemOrder.time}" readonly="readonly" class="input-width"/></div>
            <div class="div-inline"> <input th:value="${systemOrder.info}" readonly="readonly" class="input-width"/></div>
            <div class="div-line"><input type="button" value="pay" class="input-width"/></div>
        </form>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    function checkValue(){
        var objs = $("input[name='count']");
        var length = objs.length;
        var jump = false;
        /*<![CDATA[*/
        for(var i = 0; i < length; i++) {
            if(objs[i].value > 0) {
                jump = true;
            }
        }
        if(jump) {
            document.order.submit();
        } else {
            alert("Your order is empty");
        }
        /*]]>*/
        return false;
    }
</script>
</body>
</html>