<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
    <div class="page-container">
        <h2>请登录：</h2>
        <form th:action="@{/whichlog}"  th:object="${loginMessage}" method="post">
            <input type="text"  th:field = "*{username}" class="username" placeholder="请输入您的用户名！"/>
            <input type="password"   th:field ="*{password}" class="password" placeholder="请输入您的用户密码！"/>
            <div>
                <span >请选择身份：</span>
                <select th:field="*{userType}">
                    <option value="customer" selected="selected">用户</option>
                    <option value="courier">快递员</option>
                    <option value="administrator">管理员</option>
                </select>
            </div>
            <button type="submit" value="登录">登录</button>
        </form>
    </div>
</body>
</html>