<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div class="page">
        <h1>“购爽”——最贴心的购书网站</h1>
        <h2>请登录：</h2>
        <form th:action="@{/whichlog}"  th:object="${loginMessage}" method="post">
            <dt>用户名:</dt>
            <dd><input type="text" th:field = "*{username}" /></dd>
            <dt>密码:</dt>
            <dd><input type="password" th:field ="*{password}" /></dd>
            <dt>身份:</dt>
            <dd>
                <select th:field="*{userType}">
                    <option value="customer">customer</option>
                    <option value="courier">courier</option>
                    <option value="administrator">administrator</option>
                </select>
            </dd>
            <dd><input type="submit" value="登录"/></dd>
        </form>
    </div>
</body>
</html>